body {
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.username-field {
  display: flex,
};

.card-footer {
  display:flex;
  justify-content: space-between;
};

.btn-circle {
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;
}

.password-options {
  flex-wrap: wrap;
}

.length-input {
  width: 4rem;
}

.website-photo {
  width: 72px;
}

.hidden-content {
  display: none;
}

img {
  cursor: pointer;
}
