

$header-color: #22181C;
$background-color: #DFEDF6;
$button-color: #F13030;
$highlight-color: #5A0001;
$secondary-color: #F45B69;

nav {
  background-color: $header-color;
  color: white;
}

body {
  min-height: 100vh;
  background: $background-color;
}

.primary-color {
  background-color: $button-color;
}

.username-field {
  display: flex,
};

.card-footer {
  display:flex;
  justify-content: space-between;
};

.btn-circle {
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
  z-index: 100;
}

.password-options {
  flex-wrap: wrap;
}

.length-input {
  width: 4rem;
}

.website-photo {
  width: 72px;
}

.hidden-content {
  display: none;
}

.website-image {
  cursor: pointer;
  max-height: 3em;
}

@media (min-width: 576px){
  .form-inline .form-control {
    width: 25em;
  }
}
